<aside id="sidebar" class="bg-md-surface-container-low dark:bg-gray-800 p-4 space-y-2 shadow-lg fixed top-0 left-0 h-full z-30 transform -translate-x-full md:translate-x-0">
  <nav>
      <a href="#app" data-section="app-section" class="sidebar-link active-link flex items-center py-2.5 px-4 rounded-lg transition duration-200 ">
          <span class="material-symbols-outlined">quiz</span><div class="label">App</div>
      </a>
      <a href="#docs" data-section="docs-section" class="sidebar-link flex items-center py-2.5 px-4 rounded-lg transition duration-200 ">
          <span class="material-symbols-outlined">menu_book</span><div class="label">Docs</div>
      </a>
      <a href="#settings" data-section="settings-section" class="sidebar-link flex items-center py-2.5 px-4 rounded-lg transition duration-200 ">
          <span class="material-symbols-outlined">settings</span><div class="label">Settings</div>
      </a>
      <a href="#about" data-section="about-section" class="sidebar-link flex items-center py-2.5 px-4 rounded-lg transition duration-200 ">
          <span class="material-symbols-outlined">info</span><div class="label">About</div>
      </a>
  </nav>
</aside>